<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Order Has Been Confirmed - Order ID <%= @order.id %></h1>
    <p>
      Your order from jungle.com has been confirmed!
    </p>
    <p>
      Thanks for choosing us and have a great day!
    </p>
  </body>
</html>
